/*-- scss:defaults --*/
table.features-formats-table,
table.features-formats-table tr:not(.header-row) {
  height: 100%;
  border-color: #0000;
}

table.features-formats-table tr {
  border-color: #0000; /* I can't seem to make the border go away but I can change the color, so... */
}

table.features-formats-table td,
table.features-formats-table th {
  padding: 0.5em;
}

table.features-formats-table td[data-quarto-table-cell-role="th"] {
  font-weight: bold;
}

.quarto-title-block-banner {
  height: 10px; /* Adjust the value as needed */
}
.colored-column {
  background-color: lightgray; /* Choose your color */
  padding: 10px; /* Optional: Add padding for better readability */
  box-sizing: border-box; /* Optional: Ensure padding doesn't increase overall width */
}